version: '3.8'

services:
  ml-backend:
    build: .
    container_name: alfa_ml_backend
    ports:
      - "8000:8000"
    volumes:
      
      - ./models:/app/models
      
      
      - ./data:/app/data
    environment:
      - WORKERS=1
      - PYTHONUNBUFFERED=1  
    restart: always